
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body {
     padding-left: 20px;
     font-family: 'Josefin Slab', Serif;
     height: 100%;
     margin: 0;
}

form {
     text-align: left;
}

h2, h1 {
     font-weight: lighter;
}

header {
     background: rgb(132, 0, 21);
     font-size: 90px;
     margin: -20px;
     color: white;
     box-shadow: 1px 2px 2px 2px rgba(132, 0, 21, .2);
     padding: 30px;
     padding-top: 40px;
     text-align: center;
     display: block;
     width: 100%;
     z-index: 20px;
}

#mealPlan{
     position: relative;
     padding-top: 50px;
     z-index: -10px;
}

h2 {
     color: #231f20;
     font-size: 40px;
     padding-top: 50px;
     margin: 3px auto;
}

.dropdown {
     font-family: 'Josefin Slab', serif;
     color: white;
     font-size: 50px;
     width: 400px;
     height: 70px;
     background-color: rgb(5, 29, 53);
}

.button{
     text-align: center;
     font-size: 35px;
     border: none;
     background-color: rgb(5, 29, 53);
     margin: 10px 0px -10px 0px;
     padding: 10px;
     font-family: 'Josefin Slab', serif;
     color: white;
     width: 150px;
     z-index: 50;
}

.button:hover{
     cursor: pointer;
     opacity: .7
}

.dropdown:hover{
     cursor: pointer;
     opacity: .7
}

.numInput {
     width: 250px;
     height: 50px;
     font-family: 'Josefin Slab', serif;
     font-size: 50px;
     color: rgba(132, 0, 21, .7);
     display: inline;
}
input{
     font-size: 50px;
}

p{
     font-size: 30px;
     display: inline;
}

#footer{
     position: fixed;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;

     text-align: center;
     z-index: 20px;
     margin-top: 50px;
          margin-left: -50px;
          margin-right: -50px;
          margin-bottom: -50px;
          padding-top: 40px;
          padding-right: 80px;
          padding-left: 60px;
          padding-bottom: 80px;
     color: white;
     background-color: rgb(132, 0, 21);
}

.wrapper {
     min-height: 100%;
}

#bio {
     text-align: center;
     width: 500px;
     font-size: 16px;
     margin:0 auto;
}

#moneyLeft {
     font-size: 20px;
     margin-top: 20px;
}

#subtitle{
     text-align: center;
     color: rgb(5, 29, 53);
     font-weight: bold;
}

#results {
     font-size: 25px;
     padding-top: 10px;
}

#emphasis {
     font-size:80px;
}


@media screen and (min-width:220px and (max-width: 640px)){
     header {
          background: rgb(132, 0, 21);
          font-size: 200px;
          margin: -20px;
          color: white;
          box-shadow: 1px 2px 2px 2px rgba(132, 0, 21, .2);
          padding: 30px;
          padding-top: 40px;
          text-align: center;
          display: block;
          width: 100%;
          z-index: 20px;
     }

     h2 {
          color: #231f20;
          font-size: 70px;
          padding-top: 50px;
          margin: 3px auto;
     }

     .dropdown {
          font-family: 'Josefin Slab', serif;
          color: white;
          font-size: 70px;
          width: 400px;
          height: 70px;
          background-color: white;
     }

     .button{
          text-align: center;
          font-size: 70px;
          border: none;
          background-color: rgb(5, 29, 53);
          margin: 10px 0px -10px 0px;
          padding: 10px;
          font-family: 'Josefin Slab', serif;
          color: white;
          width: 150px;
     }
}

.footer,
.push {
  height: 40px;
}
