<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>Growl</title>
          <link rel='stylesheet' href='/stylesheets/main.css'>
     </head>
     <body>
          <div class='wrapper'>
          <header>LMUgrowl</header>


          <form id="growl" method="post" class="form">

          <div id="mealPlan">
          <h2>Meal Plan?</h2>
                      <p><select form_id='growl' id='plan' class='dropdown' name='plan'>
                          <option id='text' value='L'>L</option>
                          <option id='text' value='I'>I</option>
                          <option id='text' value='O'>O</option>
                          <option id='text' value='N'>N</option>
                       </select></p>
               </div>

          <!-- <div id="thanksgiving">
          <h2>On-Campus During Thanksgiving?</h2>
                 <p><select form_id='growl' id='thanksgivingBox' class='dropdown' name='thanksgiving'>
                     <option id='text' value='Yes'>Yes</option>
                     <option id='text' value='No' selected>No</option>
              </select></p>
          </div> -->

          <div id="moneyLeft">
          <h2>LION Dollars Remaining?</h2>
               <p>$</p><input type="number" name="moneyLeft" id="moneyLeft" class="numInput" min="1" max="1793" step="0000.01">
          </div>


     </form>
          <br>

          <button type="submit" form="growl" class="button" formaction="/results">Submit</button>
          <iframe id="sovrn_ad_unit_284141_async" margin="0" padding="0" frameborder="0" width="728" height="90" scrolling="no" src="about:blank" data-zid="284141" class="sovrn_ad_unit" style="margin: 0px; padding: 0px; border: 0px none; width: 728px; height: 90px; overflow: hidden;"></iframe>
          <div class="push"></div>
     </div>

          <footer id='footer'>
               LMU GROWL is designed to help students determine how much they should spend per day
                    with the remaining dollars on their LION meal plan. It is not associated with Loyola Marymount
                    University. This web-app is currently functional only for the Fall 2017 semester, and assumes that
                    students will be on campus until the last day of finals (December 15th, 2017).<br>Created by Maddie Louis and Leigh Lewis.
          </footer>

     </body>
</html>
